@model UsersManagement.Web.ViewModels.UserViewModel

@{
    ViewBag.Title = "User Details";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row">
    <div class="com-md-12 text-large">
        Hello @Model.Username. You can edit your profile details here.
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Details", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.EditorFor(u => u.Username, new { htmlAttributes = new { @class = "hidden" } })
            
            <div class=" form-group form-inline">
                <div class="input-group">
                    @Html.LabelFor(u => u.Password, new { @class = "input-group-addon" })
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class=" btn btn-primary pull-right" />
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ValidationMessageFor(u => u.Password)
    </div>
</div>